header {
  background-color: #3a3633;
  color: #fff;
}

footer {
  background-color: #3a3633;
  color: #fff;
  position: fixed;
  bottom: 0;
}

.content {
  margin: 0 auto;
}

.legal-links a {
  color: #fff;
  text-decoration: none;
}

.contact a {
  color: blue;
}

.logo,
.contact,
.legal-links,
.copyright {
  padding-left: 40px;
}

.TV,
.language {
  padding-right: 40px;
}

/* flexbox */
.rows {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer-row {
  display: flex;
  /* padding: 0, 40px; */
  justify-content: space-between;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
