* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

.apple-main-btn {
  border: 1px solid rgba(211, 211, 211, 0.437);
  background-color: transparent;
  padding: 7px 9px;
  border-radius: 5px;
  color: #fff;
}

.store-btn {
  border: 0;
  background-color: transparent;
  color: rgb(86, 18, 139);
  text-decoration: none;
}

h1,
h2 {
  color: #fff;
}

h1 {
  font-size: 40px;
}

.iphone14-link:hover {
  font-size: 20px;
}

h2 {
  font-size: 16px;
}

.iphone14-link {
  color: yellow;
  text-decoration: none;
}

header {
  background-color: #3a3633;
  color: #fff;
  font-size: 22px;
}

header img {
  height: 3em;
  width: auto;
  /* display: inline-block; */
}

header a {
  color: #fff;
  text-decoration: none;
}

.legal-links a {
  color: #fff;
  text-decoration: none;
}

header a:hover,
.logo:hover,
.legal-links a:hover {
  opacity: 60%;
}

footer {
  background-color: #3a3633;
  color: #fff;
  /* position: fixed;
  bottom: 0; */
}

.contact a {
  color: blue;
}

/* .logo,
.contact,
.legal-links,
.copyright {
  padding-left: 50px;
}

.TV,
.language {
  padding-right: 50px;
} */

/* flexbox */
.rows {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-elements {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main {
  background-image: url(./imgs/apple_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
}

h1 {
  width: 100%;
  text-align: center;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-elements {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-row {
  display: flex;
  /* padding: 0, 40px; */
  justify-content: space-between;
  align-items: center;
}
